* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: white;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

.site {
  padding: 10em 0; }
