<div class="about">
  <p>
    I’m a strategic designer who believes that every design decision should be deliberate. I solve problems creatively using data, customer feedback, unrestrained ideation, and continual iteration.
	</p>
	<br>
	<p>
    With an architecture background, I am adept at designing within systems and at vastly different scales, executing bigger picture concepts as well as creating the fine details.
  </p>
  <div class="about-links">
  	<a href="http://www.linkedin.com/in/joanne-lin-4ab67562" target="_blank" title="LinkedIn">LinkedIn</a>
  	&nbsp;&nbsp;&nbsp;&nbsp;
  	<a href="/files/Joanne_Lin_Resume.pdf" target="_blank" title="Resume">Resume</a>
  </div>
</div>
